* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: #22252C;
}

/* HELPER */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
}

input:focus-visible {
    outline: 0;
}

input {
    text-align: center;
}

.light-bg {
    flex-grow: 1;
    border-radius: 2rem;
    margin: 1rem;
    background-color: #383B42;
}

.title {
    color: #fff;
    font-size: 3rem;
}

/* LAYOUT */

.main-container {
    width: 100%;
}

/* HEADER  */

header {
    justify-content: space-between;
    margin: 1rem 1rem 0;
    background-image: linear-gradient(90deg, rgb(36, 155, 180), rgb(60, 150, 91));
    border-radius: 2rem;
    ;
}

.header-nav {
    justify-content: space-evenly;
    width: 40%;
}

.header-nav div {
    padding: .3rem 1rem;
}

.logo {
    padding: .5rem;
    padding-left: 1.5rem;
    width: 15em;
}

.btn {
    color: #fff;
    border-radius: 2rem;
    text-transform: capitalize;
    transition: .3s;
}

.btn:hover {
    cursor: pointer;
    color: rgb(60, 150, 91);
    background-color: #fff;
    border-radius: 2rem;
    padding: .3rem 1rem;
    transition: .3s;
}

/* MAIN */

nav {
    font-size: 1.2rem;
    margin-top: .3em;
    justify-content: space-around;
    height: 3em;
}

.search {
    justify-content: space-between;
    background-color: #22252C;
    width: 40%;
    border-radius: 2em;
    padding: 0 1em;
}

.search-input {
    width: 40%;
    flex-grow: 1;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2em;
    border: none;
    background-color: #22252C;
    color: #fff;
}

.search i {
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(36, 155, 180);
}

.key-words {
    justify-content: space-evenly;
    padding: 1rem 1rem;
    width: 30%;
    border-radius: 2em;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
}

.key-words li {
    padding: 0 3px;
    border-radius: 1em;
}

.key-words li:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 0 3px;
    border-radius: 1em;
    cursor: pointer;
}

.btn-more {
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2em;
    background-image: linear-gradient(90deg, rgb(36, 155, 180), rgb(60, 150, 91));
}

.btn-more:hover {
    cursor: pointer;
    color: #22252C;
    background-image: linear-gradient(#fff, #fff);
}

.gallery {
    justify-content: center;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: auto;
    gap: 10px 10px;
}

.gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.memeImg {
    height: 200px;
}

.memeImg:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0 0 5px 2px #fff;
}

/* MEME-EDITOR */

.meme-editor {
    justify-content: space-around;
    height: 100vh;
    border-radius: 2rem;
    margin: 1rem;
}

.left-container {
    width: 50vw;
    border-radius: 2rem;
    background-color: #383B42;
}

.canvas-container {
    display: flex;
    justify-content: center;
    width: 95%;
    height: fit-content;
}

canvas {
    aspect-ratio: 1 / 1;
}

.control-box {
    width: 40%;
    justify-content: space-evenly;
    border-radius: 2rem;
    background-color: #383B42;
}

.editor-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 3px;
    font-size: 1.3rem;
    width: 2em;
    height: 2em;
    background-color: #fff;
    border-radius: .5em;
    box-shadow: inset 0 -3px 1px 0 rgba(0, 0, 0, 0.4), inset 0 3px 1px 0 rgba(255, 255, 255, 0.4);
}

.editor-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.txt-line {
    width: 90%;
}

.txt-input {
    border-radius: 2rem;
    border: 0;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.4);
    background-color: #EBEEF3;
    width: 100%;
    height: 2rem;
}

.editor-txt {
    justify-content: space-evenly;
    width: 90%;
    padding: 1em;
}

.move-up, .move-down, .switch {
    background-color: rgba(52, 171, 202);
}

.add-txt {
    background-color: #3ccc52;
}

.delete-txt {
    background-color: #d62837;
}

.editor-font {
    width: 90%;
    padding: 1em;
    flex-wrap: wrap;
    border-radius: 1em;
    background-color: #19A59F;
}

.editor-font>* {
    width: 90%;
}

.font-family {
    width: 52%;
    display: flex;
}

.color-dropdown {
    position: relative;
}

.color-menu {
    position: absolute;
    display: flex;
    width: 50px;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #fff;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.color-dropdown:focus {
    opacity: 1;
}

.color-dropdown:focus .color-menu {
    opacity: 1;
}

.stickers-box {
    width: 90%;
    background-color: #fff;
}

.stickers-box:hover {
    opacity: 1;
}

.action-box {
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.action-box div {
    width: 8rem;
}

.action-btn {
    font-size: 1rem;
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    color: #fff;
}

.share-btn {
    background-color: rgb(30, 124, 211);
}

.save-btn {
    background-color: #3ccc52;
}

.download-btn {
    background-color: rgb(143, 68, 187);
}

/* FOOTER */

footer {
    grid-area: footer;
    background-color: blue;
}

@media (max-width: 660px) {
    .logo {
        font-size: 0.6rem;
    }
    .header-nav {
        justify-content: space-between;
        width: 80%;
    }
    .key-words {
        font-size: small;
    }
    .gallery {
        grid-template-columns: repeat(2, 200px);
    }
}